.App {
  text-align: center;
  display: flex;
  background-color:  #282c34;
  color: white;
  height: 100vh;
}

.sidemenu {
  width: 260px;
  background-color: #202123;
  padding: 10px;
  
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.side-menu-button{
  padding: 12px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}

.side-menu-button:hover{
  background-color: rgb(255, 255, 255, 0.1);
}

.side-menu-button span {
  padding-right: 6px;
  padding-left: 12px;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  background-color: #41414f;
  width: 58%;
  border-radius: 5px;
  padding: 12px;
  color: white;
  font-size: 1.25em;
  border: none;
  outline: none;
  box-shadow: 0 0 6px 0  rgba(0,0,0,0.25);
}

.chat-log {
  text-align: left;
}

.chat-message.chatgpt {
background-color: #444654;
}

.chat-message-center {
  display: flex ;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  
}

.avatar {
  background-color: aliceblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background-color: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
}
